<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="HS.ConfigurationSource" type="Hundsun.Framework.Configuration.ConfigurationSourceSection, 
             Hundsun.Framework.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="dataConfiguration" type="Hundsun.Framework.Data.Configuration.DatabaseSettings, 
             Hundsun.Framework.Data, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <HS.ConfigurationSource selectedSource="SystemConfigurationSource">
    <sources>
      <add name="SystemConfigurationSource" type="Hundsun.Framework.Configuration.SystemConfigurationSource, 
           Hundsun.Framework.Configuration, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sources>
  </HS.ConfigurationSource>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <publisherPolicy apply="yes"/>
      <probing privatePath="AddIns;"/>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Vbe.Interop" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Word" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Office.Interop.Excel" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="office" publicKeyToken="71E9BCE111E9429C" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
    <!--<legacyUnhandledExceptionPolicy enabled="true" />-->
  </runtime>
  <!--2013-7-24 13:51:10，cj，增加useLegacyV2RuntimeActivationPolicy属性-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
