<AddIn>
  <!--获取或设置工作区可编辑状态，Edit为编辑，Run为不可编辑-->
  <Status>Edit</Status>
  <!--判断是否启动自动更新，true为启动，false为不启动-->
  <IsStartAutoUpdate>false</IsStartAutoUpdate>
  <!--判断是否强制自动更新，true为强制，false为默认-->
  <IsForceUpdate>false</IsForceUpdate>
  <!--判断关闭插件时是否注销或者隐藏，true为注销，false为隐藏-->
  <IsAddInRealClosed>true</IsAddInRealClosed>
  <!--获取或设置是否启动插件激活初始化，true为启动，false为不启动-->
  <IsRunAddInPart>false</IsRunAddInPart>
  <!--判断是否显示插件标题，true为显示，false为隐藏-->
  <IsShowAddInCaption>true</IsShowAddInCaption>
  <!--判断是否显示插件弹出窗口的最大化最小化按钮，true为显示，false为隐藏-->
  <IsShowFloatWindowMaxOrMin>true</IsShowFloatWindowMaxOrMin>
  <!--判断是否显示插件标题图标，true为显示，false为隐藏-->
  <IsShowDocumentIcon>false</IsShowDocumentIcon>
  <!--判断是否显示插件标题关闭按钮，true为显示，false为隐藏-->
  <IsShowDocumentCloseIcon>true</IsShowDocumentCloseIcon>
  <!--获取或设置当前系统的语言环境，zh-CN为中午，en为英文；可根据系统需要设置-->
  <Language>zh-CN</Language>
  <!--获取或设置插件间隔-->
  <SplitterSize>1</SplitterSize>
  <!--获取或设置打开工作区的最大个数-->
  <WorkSpaceMaxCount>5</WorkSpaceMaxCount>
  <!--获取或设置工作区缩放因子-->
  <ScaleSize>1.0</ScaleSize>
  <!--判断是否对工作区进行缩放，true为缩放，false为不缩放-->
  <IsAddInScale>true</IsAddInScale>
  <!--判断是否启动H5通信，true为启动，false为不启动-->
  <H5>false</H5>
  <!--获取或设置系统设置界面的默认插件按钮-->
  <AddInPart>
    <Item PersistString="AddIn_Jiang_Exchange_View.dll,Hundsun.Framework.AddIns.ExchangePubView"/>
    <Item PersistString="AddIn_Jiang_Exchange_View.dll,Hundsun.Framework.AddIns.ExchangeSubView"/>
  </AddInPart>
  <!--获取或设置跑马灯相关属性-->
  <Scroll>
    <Speed>Normal</Speed>
    <Font>宋体,12pt</Font>
    <FontColor>Red</FontColor>
  </Scroll>
  <!--获取或设置插件或窗体基类的ToolTip属性-->
  <ToolTip>
    <AutoPopDelay>5000</AutoPopDelay>
    <InitialDelay>500</InitialDelay>
    <ReshowDelay>100</ReshowDelay>
    <ShowAlways>true</ShowAlways>
  </ToolTip>

</AddIn>